<!DOCTYPE html>
<html>
    <head>
        {% block head %}

        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <!-- navbar -->
        <div>
            <a href="{{url_for('main.homepage')}}">Home</a>
            <a href="{{url_for('main.about')}}">About</a>
            <a href="{{url_for('main.uploadword')}}">Upload</a>
        </div>
        <hr>
        {% block body %}

        {% endblock %}
        <!-- footer -->
        <hr>
        <p>Anagha Rajagopalan Spring 2022 IW Project.</p>
    </body>
</html>