{% extends "base.html" %}

{% block head %}
    <title>ASL Search: Upload Word</title>
{% endblock %}

{% block body %}
    <h1 class="text-center">Upload Word</h1>
    <h3 class="text-center">Add a new English word here, then go to its page to add definitions and ASL videos!</h3>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label>Word</label>
          <div>{{ form.word(class="form-control") }}</div>
          {% if form.word.errors %}
            <ul class="errors">
              {% for error in form.word.errors %}
                <br>
                <p class="alert alert-danger">&#9888 {{ error }}</p>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {{ form.submit(class="btn btn-secondary my-2 my-sm-0") }}
      </form> 
{% endblock %}
