{% extends "base.html" %}

{% block head %}
    <title>ASL Search: Add Sign</title>
{% endblock %}
cd d
{% block body %}
    <h1 class="text-center">Add Sign</h1>
    <h2 class="text-center">Add a sign for "{{word}}: {{definition}}", then go to its page to add more definitions and signs!</h2>
    <br>

    <div class="form-wrapper justify-content-center">
        <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-field">
            {{form.gloss.label}}
            {{ form.gloss(size=20) }}
            {% if form.gloss.errors %}
              <ul class="errors">
                {% for error in form.gloss.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        </fieldset>
        <fieldset class="form-field">
            {{form.pos.label}}
            {{ form.pos }}
            {% if form.pos.errors %}
              <ul class="errors">
                {% for error in form.pos.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        </fieldset>
        <fieldset class="form-field">
            {{form.url.label}}
            {{ form.url }}
            {% if form.url.errors %}
              <ul class="errors">
                {% for error in form.url.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        </fieldset>
        <fieldset class="form-field">
            {{form.context.label}}
            {{ form.context }}
            {% if form.context.errors %}
              <ul class="errors">
                {% for error in form.context.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        </fieldset>
        {{ form.submit }}
        </form>  
    </div>  
{% endblock %}