{% extends "base.html" %}

{% block head %}
    <title>ASL Search: Add Sign</title>
{% endblock %}
cd d
{% block body %}
    <h1 class="text-center">Add Sign</h1>
    <h2 class="text-center">Add a sign for "{{word}}: {{definition}}", then go to its page to add more definitions and signs!</h2>
    <br>
    <form method="POST" class="form-inline my-2 my-lg-0 justify-content-center">
        {{ form.hidden_tag() }}
        {{form.gloss.label}} : {{ form.gloss(class="form-control mr-sm-2") }}
        <br>
        {{form.pos.label}} : {{ form.pos(class="form-control mr-sm-2") }}
        <br>
        {{form.url.label}} : {{ form.url(class="form-control mr-sm-2") }}
        <br>
        {{form.context.label}} : {{ form.context(class="form-control mr-sm-2") }}
        {{ form.submit(class="btn btn-secondary my-2 my-sm-0") }}
    </form>    
{% endblock %}