{% extends "base.html" %}

{% block head %}
    <title>ASL Search: {{title}}</title>
{% endblock %}

{% block body %}
    <h2>{{title}}</h2>
    <hr>
    {% for d in defs: %}
    <h3 style="text-transform: capitalize">{{d}}</h3>
    <table>
        <tr>
            <th>ASL Gloss</th>
            <th>Part of Speech</th>
            <th>Context</th>
            <th>Video</th>
        </tr>
        {% for s in d.signs %}
        <tr>
            <td style="text-transform:uppercase;">{{s.gloss}}</td>
            <td style="text-transform: capitalize">{{s.pos}}</td>
            <td>{{s.context}}</td>
            <iframe width="560" height="315" src={{s.url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endblock %}