{% extends "base.html" %}

{% block head %}
    <title>ASL Search: Results</title>
{% endblock %}

{% block body %}
    <h2>Search Results:</h2>
    <hr>
    <table>
        {% for word in words: %}
        <tr>
            <td><a href="{{url_for('main.wordpage', title=word.title)}}" style="text-transform: capitalize">{{word.title}}</a></td>
            {% if admin %}
            <td>
                <form class="text-right" action="{{url_for('main.deleteword', word=word.title)}}">
                    <input type="submit" value="Delete" />
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}