{% extends "base.html" %}

{% block head %}
    <title>ASL Search: {{title}}</title>
{% endblock %}

{% block body %}
    <h1 class="text-center">{{title}}</h2>
    <hr>
    {% for d in defs: %}
        <h3 style="text-transform: capitalize">{{d}}</h3>
        <br>
        {% for s in d.signs %}
            <div class="media">
                <iframe class="align-self-center mr-3" width="560" height="315" src={{s.url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" alt="YouTube Video" allowfullscreen></iframe>
                <div class="media-body">
                    <h5 class="mt-0"><span class="font-weight-bold">ASL Gloss: </span>{{s.gloss}}</h5>
                    <h5 class="mt-0"><span class="font-weight-bold">Part of Speech: </span>{{s.pos}}</h5>
                    <h5 class="font-weight-bold">Additional Context:</h5>
                    <p>{{s.context}}</p>
                </div>
            </div>
        <br>
        {% endfor %}
        <br>
        <br>
    {% endfor %}
{% endblock %}